body {background-color: black; color:white}

.cell {width:40px; height:40px;text-align: center; 
  background-image: linear-gradient(to bottom right,white, gray);
}

.shown {
  background-image: none;
  background-color: lightblue;
  color: darkblue;
  font-weight: bold;
  font-size: large;  
}

.blown{
  background-image: none;
  background-color: red;
}

button{
  width: 30%;
  display: inline;
  padding: 0.5%;
}